<form action='/submit' method='post'>
    <label>Username:<input type='text' name='username'></label><br>
    <label>Email:<input type='email' name='email'></label><br>
    <button type='submit'>Submit</button>
</form>
       
   