<form action='/submit' method='post'>
    <label>Username:<input type='text' name='username'></label><br>
    <label>Marks:<input type='number' name='marks'></label><br>
    <button type='submit'>Submit</button>
</form>
       
   